<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BE rails</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page
  </body>
</html>